@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
}

:root {
  --Red: hsl(0, 100%, 68%);

  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --white: hsl(255, 100%, 100%);
}

.app {
  position: relative;
}

.desingMarkUp {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 400px;
  background-color: var(--Light-Grayish-Blue);
  border-bottom-left-radius: 70px;
  z-index: -1;
}

.padding {
  padding: 20px 10%;
}
